<!--
/**
 * *** This template can be used by other components that extends the ***
 * *** WidgetComponent class                                          ***
 * Follows the WidgetModel class data
 */
-->

<div #widgets></div>

<!--
<template [ngIf]="widgetModels.length > 0">
    <jg-widget
        *ngFor="let widget of widgetModels"
        [cssClasses]='"widget.cssClassModel"'
        [widgets]='"widget.widgetModels"'>
    </jg-widget>
</template>
-->
